@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotothin.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotolight.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotomedium.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotobold.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotoblack.woff2"); }
body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  color: #000000; }

.navbarMy {
  height: 67px;
  background-color: #B7E9AB;
  margin: 0;
  padding: 0; }

.navbar-brandMy {
  width: 37px;
  height: 67px;
  padding: 0;
  margin: 0;
  margin-left: 67px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 67px;
  color: #000000; }

.navbar-navMy li {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }
  .navbar-navMy li:last-child {
    margin-right: 62px;
    padding: 12px;
    background-color: #CEF6C4;
    border-radius: 3px; }
  .navbar-navMy li i {
    margin-top: -4px; }
  .navbar-navMy li a {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000; }
  .navbar-navMy li span {
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    display: inline-block;
    background-color: #F85C5C;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: -4px; }

.profileInfo {
  display: none;
  position: absolute;
  top: 0;
  width: 210px;
  border-radius: 3px;
  margin-top: 50px;
  margin-left: -50px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 39px -19px rgba(0, 0, 0, 0.35);
          box-shadow: 10px 10px 39px -19px rgba(0, 0, 0, 0.35); }
  .profileInfo.active {
    display: block; }
  .profileInfo ul {
    margin: 0;
    padding: 0; }
    .profileInfo ul li {
      margin-right: 0;
      padding: 7px 15px; }
      .profileInfo ul li img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }
      .profileInfo ul li p {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 0;
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000; }
        .profileInfo ul li p span {
          text-align: left;
          height: 14px;
          margin: 0;
          padding: 0;
          margin-bottom: 3px;
          display: block;
          width: 100%;
          background-color: transparent;
          font-family: Roboto;
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: #434343; }
      .profileInfo ul li:first-child {
        border-bottom: 1px solid #000; }
      .profileInfo ul li:last-child {
        background-color: #fff;
        margin-right: 0;
        padding-left: 15px;
        padding-top: 7px; }

.search {
  margin-top: 97px; }
  .search form {
    margin: 30px 0;
    width: 100%;
    position: relative; }
    .search form input[type="text"] {
      width: 100%;
      height: 48px;
      text-indent: 50px;
      background-color: transparent;
      border: 1px solid #838383;
      border-radius: 3px;
      outline: none; }
      .search form input[type="text"]:focus {
        border: 1px solid #B7E9AB;
        background-color: #fff; }
    .search form input[placeholder] {
      font-family: Roboto;
      color: #838383;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px; }
    .search form i.fa-search {
      position: absolute;
      left: 30px;
      top: 16px;
      color: #838383; }

.search--focus {
  visibility: visible;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search--focus i.fa-times {
    margin-right: 30px;
    color: #838383;
    padding: 10px; }
  .search--focus button {
    width: 111px;
    height: 48px;
    background-color: #B7E9AB;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px; }

.autosuggest {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1; }
  .autosuggest ul {
    list-style: none;
    background-color: #fff;
    width: 50%;
    margin: 0;
    padding: 0;
    border-radius: 3px; }
    .autosuggest ul li {
      padding: 10px;
      cursor: pointer;
      padding-left: 50px; }
      .autosuggest ul li:hover {
        background-color: #F4F7F8; }

.autosuggestprice {
  width: 60px;
  display: none;
  position: absolute;
  z-index: 1; }
  .autosuggestprice ul {
    list-style: none;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 3px; }
    .autosuggestprice ul li {
      padding: 10px;
      cursor: pointer;
      padding-left: 10px; }
      .autosuggestprice ul li:hover {
        background-color: #F4F7F8; }

.autosuggestgeoposition {
  width: 190px;
  display: none;
  position: absolute;
  z-index: 1; }
  .autosuggestgeoposition ul {
    list-style: none;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 3px; }
    .autosuggestgeoposition ul li {
      padding: 10px;
      cursor: pointer;
      padding-left: 10px; }
      .autosuggestgeoposition ul li:hover {
        background-color: #F4F7F8; }

.custom-checkbox:checked + label {
  background-color: #B7E9AB; }

.filter h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: #838383; }
.filter .wrapper {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 17px;
  border-radius: 3px; }
  .filter .wrapper .condition {
    display: inline-block;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding-left: -5px; }
    .filter .wrapper .condition input[type="radio"] {
      position: absolute;
      opacity: 0; }
      .filter .wrapper .condition input[type="radio"]:checked + label {
        background-color: #B7E9AB;
        border-radius: 3px; }
    .filter .wrapper .condition label {
      display: inline-block;
      margin: 0;
      padding: 8px 12px;
      margin-right: -5px;
      background-color: #F8F8F8;
      cursor: pointer; }
.filter .info {
  display: block;
  width: 100px;
  height: 100px; }

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px; }
  .filters label {
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000; }
  .filters input[type='text'], .filters select {
    width: 190px;
    max-width: 190px;
    height: 40px;
    outline: none;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 3px;
    text-indent: 10px; }
    .filters input[type='text'].active, .filters select.active {
      background-color: #B7E9AB; }
    .filters input[type='text']:focus, .filters select:focus {
      border: 1px solid #B7E9AB;
      background-color: #fff; }
  .filters input[type='text']::-webkit-input-placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000; }
  .filters select option {
    height: 40px;
    padding-right: 10px;
    background-color: #F4F7F8; }
  .filters .searchbutton button {
    width: 177px;
    height: 40px;
    margin-top: 24px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #B7E9AB;
    border: none; }
  .filters .searchbutton span {
    display: block;
    margin-top: 4px;
    text-align: right;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000; }
  .filters .bicycleprice input[type='text'] {
    width: 85px; }

.bicycletype .selecttype {
  position: relative;
  display: block;
  width: 190px;
  max-width: 190px; }
.bicycletype .selecttype__head {
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 11px 15px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  background-color: #F8F8F8; }
  .bicycletype .selecttype__head.active {
    background-color: #B7E9AB; }
  .bicycletype .selecttype__head::after {
    width: 10px;
    position: absolute;
    right: 20px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    display: block;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: ""; }
    .bicycletype .selecttype__head::after.open::after {
      -webkit-transform: translateY(50%) rotate(180deg);
              transform: translateY(50%) rotate(180deg); }
.bicycletype .selecttype__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f8f8f8;
  border-radius: 3px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto";
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain; }
  .bicycletype .selecttype__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px; }
  .bicycletype .selecttype__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9; }
  .bicycletype .selecttype__list .selecttype__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none; }
    .bicycletype .selecttype__list .selecttype__item:hover {
      background-color: rgba(224, 229, 231, 0.5); }

.bicyclesize .selectsize {
  position: relative;
  display: block;
  width: 190px;
  max-width: 190px; }
.bicyclesize .selectsize__head {
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 11px 15px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  background-color: #F8F8F8; }
  .bicyclesize .selectsize__head.active {
    background-color: #B7E9AB; }
  .bicyclesize .selectsize__head::after {
    width: 10px;
    position: absolute;
    right: 20px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    display: block;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: ""; }
    .bicyclesize .selectsize__head::after.open::after {
      -webkit-transform: translateY(50%) rotate(180deg);
              transform: translateY(50%) rotate(180deg); }
.bicyclesize .selectsize__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f8f8f8;
  border-radius: 3px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
  color: #000;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain; }
  .bicyclesize .selectsize__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px; }
  .bicyclesize .selectsize__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9; }
  .bicyclesize .selectsize__list .selectsize__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none; }
    .bicyclesize .selectsize__list .selectsize__item p {
      margin: 0; }
    .bicyclesize .selectsize__list .selectsize__item span {
      font-size: 13px;
      color: #838383; }
    .bicyclesize .selectsize__list .selectsize__item:hover {
      background-color: rgba(224, 229, 231, 0.5); }

.types {
  margin-top: 40px; }
  .types h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #838383; }
  .types__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .types__cards a {
      text-decoration: none; }
    .types__cards--item {
      position: relative; }
      .types__cards--item p {
        margin-top: 8px;
        margin-bottom: 0;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000; }
      .types__cards--item img {
        height: 120px;
        width: 120px; }
      .types__cards--item .info {
        position: absolute;
        display: none;
        top: -330px;
        left: -63%;
        width: 270px;
        height: 320px;
        background-color: #fff;
        padding: 20px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s; }
        .types__cards--item .info.active {
          display: block; }
        .types__cards--item .info::after {
          content: "";
          width: 10px;
          height: 10px;
          background-color: white;
          display: block;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          position: absolute;
          left: 50%;
          margin-left: -5px;
          bottom: -5px; }
        .types__cards--item .info img {
          width: 100%;
          height: auto; }
      .types__cards--item.active img {
        border: 5px solid #B7E9AB;
        border-radius: 5px; }

.bicycle {
  margin-top: 40px; }
  .bicycle h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #838383; }
  .bicycle .geolike {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 0px 10px; }
    .bicycle .geolike i.fa-heart {
      color: #989898; }
    .bicycle .geolike p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 0;
      margin-top: 0; }
      .bicycle .geolike p span {
        display: block;
        font-weight: 500; }

.bicyclecards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .bicyclecards__item {
    width: 255px;
    min-width: 255px;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff; }
    .bicyclecards__item img {
      width: 100%;
      height: auto; }
    .bicyclecards__item p {
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 10px; }
    .bicyclecards__item--tags ul {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .bicyclecards__item--tags ul li {
        font-family: Roboto;
        margin-right: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        padding: 3px 10px;
        border-radius: 10px;
        background-color: #EEEEEE; }

.borderbox {
  max-width: 259px;
  position: relative;
  background: white;
  padding: 2px;
  border-radius: 3px;
  margin-bottom: 30px; }
  .borderbox.vip {
    background: linear-gradient(225deg, #0bd45d 0%, #fff857 30%, #d266f9 100%); }

.bigproductcard {
  margin-top: 87px; }
  .bigproductcard .wrapper {
    position: relative;
    border-radius: 3px;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px; }
    .bigproductcard .wrapper .back {
      cursor: pointer;
      position: absolute;
      left: -160px;
      top: 0px;
      background-color: #B7E9AB;
      display: inline-block;
      padding: 5px 20px;
      border-radius: 3px; }
    .bigproductcard .wrapper p {
      font-family: Roboto;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #000000; }
    .bigproductcard .wrapper h2 {
      margin-top: 0px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #000000; }
      .bigproductcard .wrapper h2 i {
        cursor: pointer;
        color: #838383; }
    .bigproductcard .wrapper h3 {
      font-family: Roboto;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000; }
    .bigproductcard .wrapper h4 {
      margin-top: 20px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #838383; }
    .bigproductcard .wrapper .owl-carousel .owl-nav {
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -62px;
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 125px;
      height: 45px;
      border-radius: 3px;
      background: rgba(26, 26, 26, 0.8); }
      .bigproductcard .wrapper .owl-carousel .owl-nav button {
        outline: none;
        margin-top: -3px; }
    .bigproductcard .wrapper .owl-carousel .owl-dots {
      position: absolute;
      bottom: 23px;
      left: 50%;
      margin-left: -12px; }
      .bigproductcard .wrapper .owl-carousel .owl-dots .owl-dot {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        display: none; }
        .bigproductcard .wrapper .owl-carousel .owl-dots .owl-dot.active {
          display: block; }
    .bigproductcard .wrapper .tags {
      margin-top: 15px; }
      .bigproductcard .wrapper .tags .tag {
        margin-right: 40px;
        display: inline-block; }
        .bigproductcard .wrapper .tags .tag ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          .bigproductcard .wrapper .tags .tag ul li {
            cursor: pointer;
            background-color: #EEEEEE;
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            padding: 3px 8px;
            display: inline-block;
            border-radius: 20px; }
            .bigproductcard .wrapper .tags .tag ul li span {
              font-weight: 500; }
      .bigproductcard .wrapper .tags .geotag {
        display: inline-block; }
        .bigproductcard .wrapper .tags .geotag p {
          cursor: pointer;
          background-color: #EEEEEE;
          font-family: Roboto;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          padding: 3px 8px;
          display: inline-block;
          border-radius: 20px;
          margin-bottom: 0; }
    .bigproductcard .wrapper .productsStats {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 40px; }
      .bigproductcard .wrapper .productsStats .stats ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .bigproductcard .wrapper .productsStats .stats ul li {
          cursor: pointer;
          display: inline-block;
          margin-right: 20px;
          font-family: Roboto;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #838383;
          padding: 3px 8px; }
      .bigproductcard .wrapper .productsStats .complaint p {
        cursor: pointer;
        color: #D74C4C; }
  .bigproductcard form {
    position: relative; }
    .bigproductcard form input[type='text'] {
      background: #F8F8F8;
      border: 1px solid #EEEEEE;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      padding: 9px 10px;
      max-height: 48px;
      position: relative;
      outline: none;
      resize: none; }
      .bigproductcard form input[type='text']:focus::-webkit-input-placeholder {
        color: #fff; }
      .bigproductcard form input[type='text']::-webkit-input-placeholder {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #000; }
    .bigproductcard form button {
      position: absolute;
      right: 15px;
      top: 8px;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border: none;
      padding: 0; }
      .bigproductcard form button i {
        cursor: pointer;
        font-size: 27px;
        -webkit-transform: rotate(33deg);
                transform: rotate(33deg);
        color: #A366B8; }

.writemessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .writemessage .user {
    width: 300px;
    cursor: pointer; }
    .writemessage .user img {
      width: 43px;
      height: 43px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px; }
    .writemessage .user p {
      display: inline-block;
      margin-bottom: 0px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #000000; }
    .writemessage .user span {
      display: block;
      margin-left: 60px;
      margin-top: -11px;
      font-family: Roboto;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #838383; }
  .writemessage .phone p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000; }

.wrapperproductinfo {
  padding: 20px; }

.wrapperviolet {
  margin-top: 20px;
  background-color: #73577C;
  border-radius: 3px; }
  .wrapperviolet form {
    position: relative; }
    .wrapperviolet form input[type='text'] {
      background: #F8F8F8;
      border: 1px solid #EEEEEE;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      padding: 9px 10px;
      max-height: 48px;
      position: relative;
      outline: none;
      resize: none; }
      .wrapperviolet form input[type='text']:focus::-webkit-input-placeholder {
        color: #fff; }
      .wrapperviolet form input[type='text']::-webkit-input-placeholder {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #000; }
    .wrapperviolet form button {
      position: absolute;
      right: 15px;
      top: 8px;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border: none;
      padding: 0; }
      .wrapperviolet form button i {
        cursor: pointer;
        font-size: 27px;
        -webkit-transform: rotate(33deg);
                transform: rotate(33deg);
        color: #A366B8; }
  .wrapperviolet .writemessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    color: #fff; }
    .wrapperviolet .writemessage .user {
      width: 300px;
      cursor: pointer; }
      .wrapperviolet .writemessage .user img {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px; }
      .wrapperviolet .writemessage .user p {
        display: inline-block;
        margin-bottom: 0px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #fff; }
      .wrapperviolet .writemessage .user span {
        display: block;
        margin-left: 60px;
        margin-top: -11px;
        font-family: Roboto;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #fff; }
    .wrapperviolet .writemessage .phone p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #fff; }

.bigslider {
  margin-top: 67px;
  padding: 140px 250px;
  padding-top: 40px;
  background-color: #413545; }
  .bigslider .pagetitlewrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF; }
    .bigslider .pagetitlewrapper .closebycycle {
      cursor: pointer;
      color: #C4C4C4; }
    .bigslider .pagetitlewrapper p {
      margin: 0; }
    .bigslider .pagetitlewrapper p.price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-weight: 500;
      margin-top: 3px; }
      .bigslider .pagetitlewrapper p.price span {
        cursor: pointer;
        padding: 4px 9px;
        font-weight: 400;
        color: black;
        border-radius: 30px;
        background-color: #EEEEEE;
        font-size: 14px;
        line-height: 16px;
        margin-left: 30px;
        margin-top: -2px; }
  .bigslider .swiper-container {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
  .bigslider img {
    width: 100%; }
  .bigslider .swiper-slide {
    background-size: cover;
    background-position: center; }
  .bigslider .gallery-top {
    height: 90%;
    width: 100%; }
  .bigslider .gallery-thumbs {
    height: 10%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0; }
    .bigslider .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 1; }
    .bigslider .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
      border: 3px solid #B7E9AB;
      border-radius: 3px; }
  .bigslider .swiper-button-prev {
    left: 50%;
    margin-left: -55px;
    bottom: 21px;
    top: auto; }
    .bigslider .swiper-button-prev::after {
      content: ""; }
  .bigslider .swiper-button-next {
    right: 50%;
    margin-right: -55px;
    bottom: 21px;
    top: auto; }
    .bigslider .swiper-button-next::after {
      content: ""; }
  .bigslider .swiper-pagination.swiper-pagination-fraction {
    bottom: 20px;
    display: inline-block;
    left: 50%;
    width: 125px;
    margin-left: -63px;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(26, 26, 26, 0.8);
    border-radius: 3px; }

.container.newbicycle {
  margin-top: 107px; }
  .container.newbicycle h1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 0; }

.createtypes {
  display: inline-block;
  border-radius: 3px;
  padding-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .createtypes input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .createtypes input[type="radio"]:checked + label img {
      border: 5px solid #B7E9AB;
      border-radius: 5px;
      margin: 0; }
  .createtypes label {
    -webkit-box-sizing: padding-box;
            box-sizing: padding-box;
    width: 120px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer; }
    .createtypes label img {
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      width: 100%;
      margin: 5px; }
    .createtypes label p {
      text-align: center; }
  .createtypes .create-custom-checkbox {
    background-color: #fff; }

.createmain .inputPart label.simple, .createmain .inputPart h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: block; }
.createmain .inputPart input[type='text'] {
  background-color: #fff;
  border-radius: 3px;
  height: 40px;
  border: 1px solid #eee;
  margin-bottom: 37px;
  outline: none;
  color: #000000;
  padding-left: 10px;
  width: 240px; }
  .createmain .inputPart input[type='text']::-webkit-input-placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000; }
  .createmain .inputPart input[type='text']:focus::-webkit-input-placeholder {
    color: #fff; }
.createmain .inputPart .wrap {
  position: relative;
  display: inline-block; }
  .createmain .inputPart .wrap .hint {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -260px;
    width: 250px;
    padding: 15px;
    background-color: #fff;
    font-size: 11px; }
.createmain .inputPart textarea {
  width: 520px;
  height: 140px;
  resize: none;
  outline: none;
  color: #000000;
  padding-top: 7px;
  padding-left: 10px;
  margin-bottom: 37px; }
  .createmain .inputPart textarea::-webkit-input-placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000; }
  .createmain .inputPart textarea:focus::-webkit-input-placeholder {
    color: #fff; }
.createmain .inputPart .createcondition {
  display: inline-block;
  border-radius: 3px;
  padding-left: -5px; }
  .createmain .inputPart .createcondition input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .createmain .inputPart .createcondition input[type="radio"]:checked + label {
      background-color: #B7E9AB;
      border-radius: 3px; }
  .createmain .inputPart .createcondition label {
    display: inline-block;
    width: 115px;
    margin: 0;
    text-align: center;
    padding: 8px 12px;
    margin-right: 10px;
    margin-bottom: 37px;
    background-color: #F8F8F8;
    border-radius: 3px;
    cursor: pointer; }
.createmain .inputPart input[type='file'] {
  width: 180px;
  height: 130px;
  margin: 5px;
  outline: none;
  overflow: hidden; }
.createmain .inputPart .custom-file-input1::-webkit-file-upload-button {
  visibility: hidden; }
.createmain .inputPart .custom-file-input1::before {
  width: 180px;
  height: 130px;
  content: "Натисніть, щоб \aдодати головне \aфото";
  display: inline-block;
  background: #B7E9AB;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: pre;
  -webkit-user-select: none;
  text-align: center;
  font-style: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #000;
  padding-top: 40px; }
.createmain .inputPart .custom-file-input1:hover::before {
  border-color: black; }
.createmain .inputPart .custom-file-input1:active::before {
  background: #B7E9AB; }
.createmain .inputPart .custom-file-input2::-webkit-file-upload-button {
  visibility: hidden; }
.createmain .inputPart .custom-file-input2::before {
  width: 180px;
  height: 130px;
  display: inline-block;
  background: #EEEEEE;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  text-align: center;
  line-height: 130px;
  white-space: pre;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  font-size: 33px;
  color: #838383; }
.createmain .nextButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px; }
  .createmain .nextButton button {
    width: 167px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    text-align: center;
    line-height: 40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 3px; }
  .createmain .nextButton button.next {
    background-color: #B7E9AB; }

.blat {
  max-width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
