@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotothin.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotolight.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Roboto.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotomedium.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotobold.woff2"); }
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Robotoblack.woff2"); }
body {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  color: #000000; }

.navbarMy {
  height: 67px;
  background-color: #B7E9AB;
  margin: 0;
  padding: 0; }

.navbar-brandMy {
  width: 37px;
  height: 67px;
  padding: 0;
  margin: 0;
  margin-left: 67px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 67px;
  color: #000000; }

.navbar-navMy li {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }
  .navbar-navMy li:last-child {
    margin-right: 62px;
    padding: 12px;
    background-color: #CEF6C4;
    border-radius: 3px; }
  .navbar-navMy li i {
    margin-top: -4px; }
  .navbar-navMy li a {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000; }
  .navbar-navMy li span {
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    display: inline-block;
    background-color: #F85C5C;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: -4px; }

.search form {
  margin: 30px 0;
  width: 100%;
  position: relative; }
  .search form input[type="text"] {
    width: 100%;
    height: 48px;
    text-indent: 50px;
    background-color: transparent;
    border: 1px solid #838383;
    border-radius: 3px;
    outline: none; }
    .search form input[type="text"]:focus {
      border: 1px solid #B7E9AB;
      background-color: #fff; }
  .search form input[placeholder] {
    font-family: Roboto;
    color: #838383;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }
  .search form i.fa-search {
    position: absolute;
    left: 30px;
    top: 16px;
    color: #838383; }

.search--focus {
  visibility: visible;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .search--focus i.fa-times {
    margin-right: 30px;
    color: #838383;
    padding: 10px; }
  .search--focus button {
    width: 111px;
    height: 48px;
    background-color: #B7E9AB;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px; }

.autosuggest {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1; }
  .autosuggest ul {
    list-style: none;
    background-color: #fff;
    width: 50%;
    margin: 0;
    padding: 0;
    border-radius: 3px; }
    .autosuggest ul li {
      padding: 10px;
      cursor: pointer;
      padding-left: 50px; }
      .autosuggest ul li:hover {
        background-color: #F4F7F8; }

.autosuggestprice {
  width: 60px;
  display: none;
  position: absolute;
  z-index: 1; }
  .autosuggestprice ul {
    list-style: none;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 3px; }
    .autosuggestprice ul li {
      padding: 10px;
      cursor: pointer;
      padding-left: 10px; }
      .autosuggestprice ul li:hover {
        background-color: #F4F7F8; }

.autosuggestgeoposition {
  width: 190px;
  display: none;
  position: absolute;
  z-index: 1; }
  .autosuggestgeoposition ul {
    list-style: none;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 3px; }
    .autosuggestgeoposition ul li {
      padding: 10px;
      cursor: pointer;
      padding-left: 10px; }
      .autosuggestgeoposition ul li:hover {
        background-color: #F4F7F8; }

.custom-checkbox:checked + label {
  background-color: #B7E9AB; }

.filter h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: #838383; }
.filter .wrapper {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 17px;
  border-radius: 3px; }
  .filter .wrapper .condition {
    display: inline-block;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding-left: -5px; }
    .filter .wrapper .condition input[type="radio"] {
      display: absolute; }
    .filter .wrapper .condition input[type="radio"] {
      position: absolute;
      opacity: 0; }
      .filter .wrapper .condition input[type="radio"]:checked + label {
        background-color: #B7E9AB;
        border-radius: 3px; }
    .filter .wrapper .condition label {
      display: inline-block;
      margin: 0;
      padding: 8px 12px;
      margin-right: -5px;
      background-color: #F8F8F8;
      cursor: pointer; }
.filter .info {
  display: block;
  width: 100px;
  height: 100px; }

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px; }
  .filters label {
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000; }
  .filters input[type='text'], .filters select {
    width: 190px;
    max-width: 190px;
    height: 40px;
    outline: none;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 3px;
    text-indent: 10px; }
    .filters input[type='text'].active, .filters select.active {
      background-color: #B7E9AB; }
    .filters input[type='text']:focus, .filters select:focus {
      border: 1px solid #B7E9AB;
      background-color: #fff; }
  .filters input[type='text']::-webkit-input-placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000; }
  .filters select option {
    height: 40px;
    padding-right: 10px;
    background-color: #F4F7F8; }
  .filters .searchbutton button {
    width: 177px;
    height: 40px;
    margin-top: 24px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: #B7E9AB;
    border: none; }
  .filters .searchbutton span {
    display: block;
    margin-top: 4px;
    text-align: right;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000; }
  .filters .bicycleprice input[type='text'] {
    width: 85px; }

.bicycletype .selecttype {
  position: relative;
  display: block;
  width: 190px;
  max-width: 190px; }
.bicycletype .selecttype__head {
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 11px 15px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  background-color: #F8F8F8; }
  .bicycletype .selecttype__head.active {
    background-color: #B7E9AB; }
  .bicycletype .selecttype__head::after {
    width: 10px;
    position: absolute;
    right: 20px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    display: block;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: ""; }
    .bicycletype .selecttype__head::after.open::after {
      -webkit-transform: translateY(50%) rotate(180deg);
              transform: translateY(50%) rotate(180deg); }
.bicycletype .selecttype__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f8f8f8;
  border-radius: 3px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto";
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain; }
  .bicycletype .selecttype__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px; }
  .bicycletype .selecttype__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9; }
  .bicycletype .selecttype__list .selecttype__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none; }
    .bicycletype .selecttype__list .selecttype__item:hover {
      background-color: rgba(224, 229, 231, 0.5); }

.bicyclesize .selectsize {
  position: relative;
  display: block;
  width: 190px;
  max-width: 190px; }
.bicyclesize .selectsize__head {
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 11px 15px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  background-color: #F8F8F8; }
  .bicyclesize .selectsize__head.active {
    background-color: #B7E9AB; }
  .bicyclesize .selectsize__head::after {
    width: 10px;
    position: absolute;
    right: 20px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    display: block;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: ""; }
    .bicyclesize .selectsize__head::after.open::after {
      -webkit-transform: translateY(50%) rotate(180deg);
              transform: translateY(50%) rotate(180deg); }
.bicyclesize .selectsize__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f8f8f8;
  border-radius: 3px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
  color: #000;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain; }
  .bicyclesize .selectsize__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px; }
  .bicyclesize .selectsize__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9; }
  .bicyclesize .selectsize__list .selectsize__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none; }
    .bicyclesize .selectsize__list .selectsize__item p {
      margin: 0; }
    .bicyclesize .selectsize__list .selectsize__item span {
      font-size: 13px;
      color: #838383; }
    .bicyclesize .selectsize__list .selectsize__item:hover {
      background-color: rgba(224, 229, 231, 0.5); }

.types {
  margin-top: 40px; }
  .types h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #838383; }
  .types__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .types__cards a {
      text-decoration: none; }
    .types__cards--item p {
      margin-top: 8px;
      margin-bottom: 0;
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000; }
    .types__cards--item img {
      height: 120px;
      width: 120px; }

.bicycle {
  margin-top: 40px; }
  .bicycle h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #838383; }
  .bicycle .geolike {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 0px 10px; }
    .bicycle .geolike i.fa-heart {
      color: #989898; }
    .bicycle .geolike p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 0;
      margin-top: 0; }
      .bicycle .geolike p span {
        display: block;
        font-weight: 500; }

.bicyclecards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .bicyclecards__item {
    width: 255px;
    min-width: 255px;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff; }
    .bicyclecards__item img {
      width: 100%;
      height: auto; }
    .bicyclecards__item p {
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin-top: 10px;
      margin-bottom: 10px; }
    .bicyclecards__item--tags ul {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .bicyclecards__item--tags ul li {
        font-family: Roboto;
        margin-right: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        padding: 3px 10px;
        border-radius: 10px;
        background-color: #EEEEEE; }

.borderbox {
  max-width: 259px;
  position: relative;
  background: white;
  padding: 2px;
  border-radius: 3px;
  margin-bottom: 30px; }
  .borderbox.vip {
    background: linear-gradient(225deg, #0bd45d 0%, #fff857 30%, #d266f9 100%); }
