@import 'fonts'
    
body
    margin: 0
    padding: 0
    background-color: #E5E5E5
    color: #000000

.navbarMy
    height: 67px
    background-color: #B7E9AB
    margin: 0
    padding: 0

.navbar-brandMy
    width: 37px
    height: 67px
    padding: 0
    margin: 0
    margin-left: 67px
    font-family: Roboto
    font-weight: 400
    font-size: 14px
    line-height: 67px
    color: #000000

.navbar-navMy
    li
        margin-right: 32px
        display: flex
        align-items: center
        justify-content: start
        &:last-child
            margin-right: 62px
            padding: 12px
            background-color: #CEF6C4
            border-radius: 3px 
        i
            margin-top: -4px
        a   
            margin: 0
            padding: 0
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 14px
            color: #000000
        span
            width: 27px
            height: 27px
            text-align: center
            line-height: 27px
            display: inline-block
            background-color: #F85C5C
            border-radius: 30px
            color: #fff
            font-size: 14px
            font-weight: 500
            margin-top: -4px

.search
    form
        margin: 30px 0
        width: 100%
        position: relative
        input[type="text"]
            width: 100%
            height: 48px
            text-indent: 50px
            background-color: transparent
            border: 1px solid #838383
            border-radius: 3px
            outline: none
            &:focus 
                border: 1px solid #B7E9AB
                background-color: #fff
        input[placeholder]
            font-family: Roboto
            color: #838383
            font-weight: 400
            font-size: 14px
            line-height: 16px
        i.fa-search
            position: absolute
            left: 30px
            top: 16px
            color: #838383

.search--focus
    visibility: visible
    position: absolute
    right: 0
    top: 0
    display: flex
    align-items: center
    i.fa-times
        margin-right: 30px
        color: #838383
        padding: 10px
    button
        width: 111px
        height: 48px
        background-color: #B7E9AB
        border: none
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 16px
        border-radius: 3px
.autosuggest
    width: 100%
    display: none
    position: absolute
    ul
        list-style: none
        background-color: #fff
        width: 50%
        margin: 0
        padding: 0
        border-radius: 3px
        li
            padding: 10px
            cursor: pointer
            padding-left: 50px
            &:hover
                background-color: #F4F7F8

.custom-checkbox
    &:checked + label
        background-color: #B7E9AB
.filter
    h2
        font-family: Roboto
        font-size: 20px
        font-weight: 700
        color: #838383
    .wrapper
        background-color: #fff
        padding: 30px
        padding-bottom: 17px
        border-radius: 3px
        .condition
            display: inline-block
            border: 1px solid #EEEEEE
            border-radius: 3px
            padding-left: -5px
            input[type="radio"] 
                display: absolute
            input[type="radio"]
                position: absolute
                opacity: 0
                &:checked + label
                    background-color: #B7E9AB
                    border-radius: 3px
            label
                display: inline-block
                margin: 0
                padding: 8px 12px
                margin-right: -5px
                background-color: #F8F8F8
                cursor: pointer
    .info
        display: block
        width: 100px
        height: 100px
.filters
    display: flex
    justify-content: space-between
    margin-top: 20px
    label
        display: block
        font-family: Roboto
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #000000
    input[type='text'], select
        width: 190px
        max-width: 190px
        height: 40px
        outline: none
        background-color: #f8f8f8
        border: 1px solid #eee
        border-radius: 3px
        text-indent: 10px
        &.active
            background-color: #B7E9AB
        &:focus 
            border: 1px solid #B7E9AB
            background-color: #fff
    input[type='text']
        &::-webkit-input-placeholder
            font-family: Roboto
            font-weight: 400
            font-size: 14px
            line-height: 16px
            color: #000
    select
        option
            height: 40px
            padding-right: 10px
            background-color: #F4F7F8
    .searchbutton
        button
            width: 177px
            height: 40px
            margin-top: 24px
            font-family: Roboto
            font-weight: 500
            font-size: 14px
            line-height: 16px
            color: #000000
            outline: none
            cursor: pointer
            border-radius: 3px
            background-color: #B7E9AB
            border: none
        span
            display: block
            margin-top: 4px
            text-align: right
            font-family: Roboto
            font-weight: 400
            font-size: 11px
            line-height: 13px
            color: #000000
    .bicycleprice
        input[type='text']
            width: 85px
.bicycletype
    .selecttype
        position: relative
        display: block
        width: 190px
        max-width: 190px

    .selecttype__head
        width: 100%
        max-width: 100%
        height: 40px
        border-radius: 3px
        padding: 11px 15px
        font-family: 'Roboto'
        font-size: 14px
        line-height: 18px
        color: #000
        cursor: pointer
        border: 1px solid #EEEEEE
        background-color: #F8F8F8
        &.active
            background-color: #B7E9AB
        &::after
            width: 10px
            position: absolute
            right: 20px
            bottom: 50%
            transform: translateY(50%)
            display: block
            transition: .2s ease-in
            font-family: "Font Awesome 5 Free"
            font-weight: 900
            content: "\f107"
            &.open::after
                transform: translateY(50%) rotate(180deg)

    .selecttype__list
        display: none
        position: absolute
        top: 100%
        left: 0
        right: 0
        background: #f8f8f8
        border-radius: 3px
        margin-top: 5px
        max-height: 205px
        overflow-x: hidden
        overflow-y: auto
        z-index: 100
        margin: 0
        padding: 0
        font-size: 14px
        font-family: 'Roboto'
        color: #424348
        scrollbar-color: dark
        scrollbar-width: thin
        overscroll-behavior: contain
        &::-webkit-scrollbar
            width: 7px
            background-color: #F8F9FA
            padding: 5px

        &::-webkit-scrollbar-thumb
            border-radius: 10px
            background-color: #D9D9D9

        .selecttype__item
            position: relative
            border-top: 1px solid rgba(224, 229, 231, 0.5)
            padding: 10px 15px
            cursor: pointer
            list-style-type: none
            &:hover
                background-color: rgba(224, 229, 231, 0.5)

.bicyclesize
    .selectsize
        position: relative
        display: block
        width: 190px
        max-width: 190px

    .selectsize__head
        width: 100%
        max-width: 100%
        height: 40px
        border-radius: 3px
        padding: 11px 15px
        font-family: 'Roboto'
        font-size: 14px
        line-height: 18px
        color: #000
        cursor: pointer
        border: 1px solid #EEEEEE
        background-color: #F8F8F8
        &.active
            background-color: #B7E9AB
        &::after
            width: 10px
            position: absolute
            right: 20px
            bottom: 50%
            transform: translateY(50%)
            display: block
            transition: .2s ease-in
            font-family: "Font Awesome 5 Free"
            font-weight: 900
            content: "\f107"
            &.open::after
                transform: translateY(50%) rotate(180deg)

    .selectsize__list
        display: none
        position: absolute
        top: 100%
        left: 0
        right: 0
        background: #f8f8f8
        border-radius: 3px
        margin-top: 5px
        max-height: 205px
        overflow-x: hidden
        overflow-y: auto
        z-index: 100
        margin: 0
        padding: 0
        font-size: 16px
        font-family: 'Roboto'
        color: #000
        scrollbar-color: dark
        scrollbar-width: thin
        overscroll-behavior: contain
        &::-webkit-scrollbar
            width: 7px
            background-color: #F8F9FA
            padding: 5px

        &::-webkit-scrollbar-thumb
            border-radius: 10px
            background-color: #D9D9D9

        .selectsize__item
            display: flex
            justify-content: space-between
            align-items: center
            position: relative
            border-top: 1px solid rgba(224, 229, 231, 0.5)
            padding: 10px 15px
            cursor: pointer
            list-style-type: none
            p
                margin: 0
            span
                font-size: 13px
                color: #838383
            &:hover
                background-color: rgba(224, 229, 231, 0.5)